body {
	font-family: Times New Roman;
	background-image: url(images/background.jpeg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

div {
	background-color: ;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 40px;
	padding-top: 30px ;
	padding-bottom: 30px ;
	border:30px  ;
	background-color: rgb(255,255,255,0.2);
}

h1 {
 Font-family: Times New Roman;	
 color: #ffb503 ;
 text-align: center;
 text-shadow: 5px 5px 15px #fffa90;
 text-align: center;
}

h2 {
	font-family: times new roman;
	text-shadow: 0px -5px 15px #fffa90;
	color:#ffb503;
	text-align: center;
}

h3 {
	font-family: times new roman;
	text-shadow: 0px -5px 15px #fffa90;
	color: #ffb503;
	text-align: center;
}

p {
	font-family: times new roman;
	color: white;
}